<div class="form-group">
  <h1 id="sign-up-header">Sign Up</h1>

  <% if @errors %>
  <ul>
    <% @errors.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

  <%= render 'form' %>
</div>
